smart_google_calendar_agent.json
{
  "name": "calendar_agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userQuery"
            },
            {
              "name": "jobDescription"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "5376d373-65f3-4f22-a91c-0aed215c9221",
      "name": "Personal Assistant Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=userQuery:  {{ $json.userQuery }}\n\njobDescription: {{ $json.jobDescription }}",
        "options": {
          "systemMessage": "=You are an expert Google Calendar Manager.\n\nToday's date is: {{ $now }} in Chicago Time Zone.\n\nYour job is to take in 'userQuery' and 'jobDescription' and determine which tool needs to be used in order to complete what is being requested.\n\nIf you don't have sufficient information to complete the task, then ask the user for more details in the category you need details for. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        380,
        0
      ],
      "id": "2cc2d30b-8065-4164-be01-4a82bf8f3ea6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "eeb44eef-3aa5-4a75-8c3e-ee559b29825e",
      "name": "4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "u6spHNm0mJX7b1oz",
          "name": "connection1-full-agents-guide"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "rishabhjain.kellogg@gmail.com",
          "mode": "list",
          "cachedResultName": "rishabhjain.kellogg@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Look at the user query to figure out the start date and time, ensure the time zone is in Chicago time zone, unless explicitly stated in the userQuery `, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Look at the user query to figure out the end date and time, ensure the time zone is in Chicago time zone, unless explicitly stated in the userQuery `, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        460,
        220
      ],
      "id": "78a28f3b-6673-46ad-ba22-b21538288459",
      "name": "create_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vlxy9P48kZeHcs1y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "rishabhjain.kellogg@gmail.com",
          "mode": "list",
          "cachedResultName": "rishabhjain.kellogg@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        580,
        220
      ],
      "id": "799c2caf-1e61-4b27-9235-b0436f736ef1",
      "name": "update_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vlxy9P48kZeHcs1y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get many events in Google Calendar",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "rishabhjain.kellogg@gmail.com",
          "mode": "list",
          "cachedResultName": "rishabhjain.kellogg@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        700,
        220
      ],
      "id": "4b01f4b3-d229-498f-b8b6-4be7fdd0df67",
      "name": "search_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Vlxy9P48kZeHcs1y",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Personal Assistant Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "create_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ec9e09e-7d0d-4196-8307-bebc2f45b709",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2732dae15d7364e1faae0e1bed456c5e45438575b8b5ee70ae3c91118e6956d3"
  },
  "id": "gtVYPE0U6pWst3tL",
  "tags": []
}