telegram_gpt_bot_with_voice_transcription.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496.33466202090574,
        80
      ],
      "id": "c1475756-8d90-42c8-8625-391d67ad2b65",
      "name": "Telegram Trigger",
      "webhookId": "b70508f0-420a-4d87-b101-4d846942e9ff",
      "credentials": {
        "telegramApi": {
          "id": "fFNAcwtvopHrFRHF",
          "name": "comms-medium-bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b81bf460-35a4-411f-a2b3-380fc26728fa",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        163.66533797909426,
        180
      ],
      "id": "4b641db2-d904-48ba-af17-fe1e957ddb51",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3c67807-7230-480b-9caf-62cf1677923c",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -276.33466202090574,
        80
      ],
      "id": "ba7645d8-b7a4-47e5-aa84-79b5cc1530ae",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        163.66533797909426,
        -20
      ],
      "id": "bdede972-f985-4e04-ae02-1814e68bb47d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "u6spHNm0mJX7b1oz",
          "name": "connection1-full-agents-guide"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -56.33466202090574,
        -20
      ],
      "id": "62373e7c-91d6-45a1-8779-6a4b2c1c8e5c",
      "name": "Download Voice File",
      "webhookId": "600acb39-c588-4071-8222-07fe18ec72bf",
      "credentials": {
        "telegramApi": {
          "id": "fFNAcwtvopHrFRHF",
          "name": "comms-medium-bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        383.66533797909426,
        180
      ],
      "id": "dd523025-d2d6-4795-af9e-f0b96f74f323",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        403.66533797909426,
        400
      ],
      "id": "c640a2bb-941d-4c16-b8b7-edc06542b329",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "u6spHNm0mJX7b1oz",
          "name": "connection1-full-agents-guide"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        963.6653379790943,
        180
      ],
      "id": "1e42917c-e2d0-4ad4-ba5d-57bda4f56317",
      "name": "Send a text message",
      "webhookId": "2fdbd465-e897-4553-87f4-573cf2c6a208",
      "credentials": {
        "telegramApi": {
          "id": "fFNAcwtvopHrFRHF",
          "name": "comms-medium-bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        500
      ],
      "id": "6ee42730-56a2-4114-8aaa-206474cfa7a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agents-to-apps-testing",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -56.33466202090574,
        380
      ],
      "id": "0f89afba-1f12-4b96-9617-3cb8912ffcc7",
      "name": "Webhook",
      "webhookId": "747e89cc-643d-49e2-bc3c-60043184b8c9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b81bf460-35a4-411f-a2b3-380fc26728fa",
              "name": "text",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        163.66533797909426,
        380
      ],
      "id": "c5909365-2716-460e-9f08-97a964241752",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9551061c-8975-4479-8a52-56049393eb05",
              "leftValue": "={{ $('Webhook').item.json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        743.6653379790943,
        180
      ],
      "id": "53853b62-73c6-4295-9c80-19571c6e5b45",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1000,
        0
      ],
      "id": "ec1164dd-4a63-4e99-8166-172d0641484b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea46f3b5-7ec8-4024-8dbb-7317b7cf6148",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2732dae15d7364e1faae0e1bed456c5e45438575b8b5ee70ae3c91118e6956d3"
  },
  "id": "LE8qm0LTUptT1ofS",
  "tags": []
}